.container{
	max-width: 600px;
	margin: 50% auto;
	border: 1px solid #ccc;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.item{
	/*flex: 1;*/
	padding: 50px 30px;
	margin: 5px;
	background: tomato;
	text-align: center;
}